@page "/"
<div class="login">
    <div class="login-inputs">
        <h2>Login</h2>
        <input placeholder="Username" @bind="uName" />
        <input placeholder="Password" @bind="pWord" />
        <button @onclick="AuthenticateLogin" class="">Login</button>
    </div>

</div>


@code {
    string uName, pWord;
    FeedMe.Core.Models.Customer customer;

    protected override void OnAfterRender(bool firstRender)
    {

        if (!FeedMe.Core.Server.Connect.Connected && firstRender)
        {
            customer = new FeedMe.Core.Models.Customer();
            FeedMe.Core.Server.Connect serverConnection = new FeedMe.Core.Server.Connect();
            serverConnection.InitializeConnection(out System.Net.Sockets.Socket clientSock);
            customer.SetClientSocket(clientSock);
        }

        base.OnAfterRender(firstRender);
    }

    private void AuthenticateLogin()
    {

        bool resp = new FeedMe.Core.Authentication.Login().AuthenticateLogin(customer, uName, pWord, false);

        if (resp)
        {
            Console.WriteLine("Logged In");
        }
        else
        {
            Console.WriteLine("Invalid Login");
        }
    }
}
