<h3>Login</h3>
<textarea>Username</textarea>
<textarea>Password</textarea>
<input value="Username" />
<input placeholder="Username" value="@uName" />
<input placeholder="Password" value="@pWord" />

@code {
    string uName, pWord;
}
