<nav>
    <p class="title">FeedMe</p>
    <div class="buttons">
        <a>🗕</a>
        <a>🗖</a>
        <a href="counter" @onclick="QuitApp">🗙</a>
    </div>
</nav>

@code {

    private void QuitApp()
    {
        Console.WriteLine("Test");
        ElectronNET.API.Electron.App.Quit();
    }

}
